@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
body::-webkit-scrollbar {
  width: 22px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: inset 6px 12px 6px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
  transition: 0.3s ease-in;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #b06214;
  color: #222;
  height: 100vh;
}
nav {
  position: fixed;
  bottom: 40px;
  left: 5px;
  z-index: 100;
}
nav ul {
  list-style-type: none;
  padding-left: 30px;
}
nav ul li {
  text-transform: uppercase;
  color: #fafafa;
  margin: 40px 0;
  transform: translateX(-110%);
  transition: transform 0.4s ease-in;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}
.container {
  background: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
.content1 {
  max-width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.content1 img {
  max-width: 100%;
  height: 100vh;
  width: 100%;
}
.content1 h1 {
  color: #fafafa;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  position: absolute;
  font-size: 76px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  top: 10%;
  word-break: break-all;
  text-shadow: 6px 12px 12px #b06214;
}
.content1 h5 {
  position: absolute;
  font-size: 29px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  top: 20%;
}
.content1 p {
  line-height: 1.5;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.container.show-nav .circle {
  transform: rotate(-70deg);
}
.circle {
  height: 200px;
  width: 200px;
  background-color: #b06214;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle-container.circle.show-nav {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: white;
}
.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;

  transform: rotate(90deg);
  transform-origin: top left;
}

@media (max-width: 580px) {
  h1 {
  }
  h5 {
    font-size: 1rem;
    word-break: break-all;
  }
  .content h1 {
    align-items: center;
    top: 20%;
    font-size: 2.5rem;
    width: 400px;
    word-break: break-all;
  }
  .content h5 {
    font-size: 1.6rem;
    width: 425px;
    word-break: break-all;
  }
  .content img {
    max-width: 100%;
    width: 100%;
  }
}
